.head {
    height: 100px;
}
.pokedex {
    padding-bottom: 25px;
}
.poke_header {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 10px;
}
.poke_header h3 {
    text-align: center;
}
.form input {
    width: 250px;
    height: 25px;
}
.form button {
    width: 100px;
    height: 25px;
    background-color: rgb(14, 31, 219);
    color: aliceblue;
}
.poke_header div {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.poke_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}
.poke_header h3 {
    color: black
}
.head img:first-child {
    width: 200px;
    object-fit: contain;
    position: absolute;
    padding-left: 30px;
}
